<!DOCTYPE html>
<html>
<head>
    <title>Добавление склада</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Добавление пользователя</h1>
     <form action="postWarehouse" method="POST">
        <label>Адрес</label>
        <input name="address" /><br><br>
        <label>Телефон</label>
        <input name="phone" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/warehouses">К списку складов</a>
</body>
<html>